
{% extends 'base.html' %}


{% block title %}
    TEKS -ABOUT
{% endblock title %}

{% block content %}

<!--About us section----->
<div class="container">
   <div data-aos="fade-up-right">
    <h2 class=" text-center bg-light p-3 m-3">About us</h2>
   </div> 
    <div class="container d-flex">
        <div class="col-lg-6 col-md-6">
            <img src="static/assets/img/abouttrimg.jpg" alt="" class="img-fluid m-5 " width="550" height="450">
        </div>
        <div class="">
              <h1 class="m-5 text-dark">Develop Your Skills, Learn Something New, and Grow Your Career!</h1>
              <p class="m-5">With a network of skilled professionals from many different fields, TEKS Academy helps students upgrade their skills according to industry demand. We train people to work in the industry in a way that helps them move up their career ladder faster. We give students the skills that are needed in every industry.</p>              
        </div>

    </div>

  </div>
  <div class="container me-5">

     <div class="row m-0 mb-4">

            <div class="container" data-aos="zoom-in">
                <h1 class="text-center p-3 bg-light text-dark">Why Teks ?</h1>
            </div>

        <!--Card -1 ------->
        <div class="card bg-primary col-12 col-md-4 m-2" style="width: 18rem;" data-aos="fade-up">
            <img src="https://teksacademy.com/assets/img/whyteks/img4.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-light  p-4">Well Planned Curriculum</h3>
            
            <div class="card-body">
            <p class="card-text text-light">Curriculum is created on the latest industry trends and on learning objectives that keeps you updated.</p>
            </div>
            <div class="btn">
                 <h4 class="text-light bg-primary border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
         <!--Card -2 ------->
         <div class="card bg-light text-dark col-12 col-md-4 m-3" style="width: 18rem;" data-aos="fade-down">
            <img src="	https://teksacademy.com/assets/img/whyteks/img1.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-dark  p-4">Learn from Industry Experts</h3>
            
            <div class="card-body">
            <p class="card-text text-dark">Learn from top-level industry experts to gain more knowledge and better job opportunities..</p>
            </div>
            <div class="btn">
                 <h4 class="text-dark bg-light border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
        <!--Card -3 ------->
        <div class="card bg-primary col-12 col-md-4 m-3" style="width: 18rem;" data-aos="fade-up">
            <img src="	https://teksacademy.com/assets/img/whyteks/img3.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-light  p-4">Assessments</h3>
            
            <div class="card-body">
            <p class="card-text text-light">Students are evaluated to understand their progress through test and assignments..</p>
            </div>
            <div class="btn">
                 <h4 class="text-light bg-primary border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
        <!--Card -4 ------->
        <div class="card bg-light col-12 col-md-4 m-2" style="width: 18rem;" data-aos="fade-down">
            <img src="	https://teksacademy.com/assets/img/whyteks/img8.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-dark p-4">Interview Prepration
                </h3>
            
            <div class="card-body">
            <p class="card-text text-dark">We provide communication & job ready skills includes CRT to our students to express their skills clearly and professionally, which helps them get job quickly.</p>
            </div>
            <div class="btn">
                 <h4 class="text-dark bg-light border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
         <!--Card -5 ------->
         <div class="card bg-light col-12 col-md-4 m-2" style="width: 18rem;" data-aos="fade-down">
            <img src="https://teksacademy.com/assets/img/whyteks/img6.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-dark p-4">Real Time IT Industry exposure
                
                </h3>
            
            <div class="card-body">
            <p class="card-text text-dark">Real time industry experience is provided to our students to understand & experience real work environment..</p>
            </div>
            <div class="btn">
                 <h4 class="text-dark bg-light border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
         <!--Card -6 ------->
         <div class="card bg-primary col-12 col-md-4 m-3" style="width: 18rem;" data-aos="fade-up">
            <img src="	https://teksacademy.com/assets/img/whyteks/img5.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-light  p-4">Internship Programs
                </h3>
            
            <div class="card-body">
            <p class="card-text text-light">Get Internship opportunities, we provide you with industry experience through our internship program.</p>
            </div>
            <div class="btn">
                 <h4 class="text-light bg-primary border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
         <!--Card -7 ------->
         <div class="card bg-light col-12 col-md-4 m-3" style="width: 18rem;" data-aos="fade-down">
            <img src="https://teksacademy.com/assets/img/whyteks/img7.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-dark p-4">Valid International certification
                </h3>
            
            <div class="card-body">
            <p class="card-text text-dark">Get International valid certification which adds value to your CV and helps to get the right job..</p>
            </div>
            <div class="btn">
                 <h4 class="text-dark bg-light border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
         <!--Card -8 ------->
         <div class="card bg-primary col-12 col-md-4 m-2" style="width: 18rem;" data-aos="fade-up">
            <img src="	https://teksacademy.com/assets/img/whyteks/img2.png" class="card-img-top p-2" alt="..." width="99" height="86">
            <h3 class="text-light  p-4">Placement Assistance
               </h3>
            
            <div class="card-body">
            <p class="card-text text-light"> Get placed at reputed organizations, we help you develop all the skills that every industry expects from a candidate.</p>
            </div>
            <div class="btn">
                 <h4 class="text-light bg-primary border-0 text-start text-b fs-6">Start now !</h4>
            </div>
        </div>
      
  </div>
  </div>
  <!----Recognized by ------>
  <div class="container mb-5 mt-5">
    <div data-aos="fade-up-right">
        <h2 class=" text-center bg-light p-3 mb-5">Recongnized by</h2>
    </div> 
      <div class="row  grid gap-5 justify-content-center" >
           <div class="col-lg-1 col-md- 4 " id="img-div">
              <img src="https://teksacademy.com/assets/img/partner/nsc.png" alt="" width="150" height="47" class="img-fluid">
           </div>
           <div class="col-lg-1 col-md-4 ">
            <img src="https://teksacademy.com/assets/img/partner/si.png" alt="" width="150" height="47" class="img-fluid">
         </div>
         <div class="col-lg-1 col-md-4 ">
            <img src="	https://teksacademy.com/assets/img/partner/nasscom.png" alt="" width="150" height="47" class="img-fluid">
         </div>
         <div class="col-lg-1 col-md-4">
            <img src="https://teksacademy.com/assets/img/partner/ic.png" alt="" width="111" height="47" class="img-fluid">
         </div>
         <div class="col-lg-1 col-md-4">
            <img src="	https://teksacademy.com/assets/img/partner/sa.png" alt="" width="111" height="47" class="img-fluid">
         </div>
         <div class="col-lg-1 col-md-4">
            <img src="https://teksacademy.com/assets/img/partner/dg.png" alt="" width="111" height="47" class="img-fluid">
         </div>
      </div>
  </div>

    
{% endblock content %}
    
    
    
    