{% extends 'base.html'%}


{% block title %}
    Teks-courses
{% endblock title %}


{% block content %}
       <!-- Courses Section -->
<section id="courses" class="courses section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Courses</h2>
          <p class="">Popular Courses</p>
        </div><!-- End Section Title -->
  
          <!--Courses section-->
    <div class="container">
  
        <div class="row">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="course-item">
                  <img src="	https://teksacademy.com/assets/img/allcourses/fullstackpython.png" class="img-fluid" alt="..." width="507" height="337">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <p class="category text-light ">Python Full Stack</p>
                      
                    </div>
    
                    <p class="description">Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.</p>

                  </div>
                </div>
              </div> <!-- End Course Item-->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="course-item">
                <img src="static/assets/img/course-1.jpg" class="img-fluid" alt="...">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="category text-light">Web Development</p>
                    
                  </div>
                  <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                  
                </div>
              </div>
            </div> 
            <!-- End Course Item-->
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="course-item">
                <img src="static/assets/img/java-img.jpg" class="img-fluid " alt="..." width="507" height="337">
                <div class="course-content">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="category text-light">Java Full Stack</p>
                  
                  </div>
                  <p>Java is a widely-used programming language for coding web applications. It has been a popular choice among developers for over two decades, with millions of Java applications in use today. Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p>
                </div>
              </div>
            </div> <!-- End Course Item-->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="course-item">
                  <img src="static/assets/img/aws-img.png" class="img-fluid" alt="..." width="507" height="337px">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <p class="category text-light">AWS Devops</p>
                    </div>
    
                    <p class="description">AWS provides services that help you practice DevOps at your company and that are built first for use with AWS. These tools automate manual tasks, help teams manage complex environments at scale, and keep engineers in control of the high velocity that is enabled by DevOps. Explore our solutions and tooling for DevOps..</p>
                  </div>
                </div>
              </div> <!-- End Course Item-->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="course-item">
                  <img src="static/assets/img/Data-img.jpg" class="img-fluid" alt="..." width="482" height="321">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <p class="category text-light">Data Science</p>
                      
                    </div>
    
                    <p class="description">Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.</p>
                    
                  </div>
                </div>
              </div> <!-- End Course Item-->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="course-item">
                  <img src="static/assets/img/uiux-img.jpg" class="img-fluid" alt="..." width="482" height="321">
                  <div class="course-content">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <p class=" category text-light">UI/UX Desginer</p>
                    
                    </div>
                    <p>Java is a widely-used programming language for coding web applications. It has been a popular choice among developers for over two decades, with millions of Java applications in use today. Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p>
                  </div>
                </div>
              </div> <!-- End Course Item-->
             

            
              
              
            
             
           
  
        </div>
   </div>
   <!--COUSES SECTION-2-->
   <div class="container">
  
    <div class="row">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="	https://teksacademy.com/assets/img/allcourses/fullstackpython.png" class="img-fluid" alt="..." width="507" height="337">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category text-light ">Python Full Stack</p>
                  
                </div>

                <p class="description">Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.</p>

              </div>
            </div>
          </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="course-item">
            <img src="static/assets/img/course-1.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="category text-light">Web Development</p>
                
              </div>
              <p class="description">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
              
            </div>
          </div>
        </div> 
        <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="course-item">
            <img src="static/assets/img/java-img.jpg" class="img-fluid " alt="..." width="507" height="337">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <p class="category text-light">Java Full Stack</p>
              
              </div>
              <p>Java is a widely-used programming language for coding web applications. It has been a popular choice among developers for over two decades, with millions of Java applications in use today. Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p>
            </div>
          </div>
        </div> <!-- End Course Item-->
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="course-item">
              <img src="static/assets/img/aws-img.png" class="img-fluid" alt="..." width="507" height="337px">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category text-light">AWS Devops</p>
                </div>

                <p class="description">AWS provides services that help you practice DevOps at your company and that are built first for use with AWS. These tools automate manual tasks, help teams manage complex environments at scale, and keep engineers in control of the high velocity that is enabled by DevOps. Explore our solutions and tooling for DevOps..</p>
              </div>
            </div>
          </div> <!-- End Course Item-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="course-item">
              <img src="static/assets/img/Data-img.jpg" class="img-fluid" alt="..." width="482" height="321">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class="category text-light">Data Science</p>
                  
                </div>

                <p class="description">Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="course-item">
              <img src="static/assets/img/uiux-img.jpg" class="img-fluid" alt="..." width="482" height="321">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <p class=" category text-light">UI/UX Desginer</p>
                
                </div>
                <p>Java is a widely-used programming language for coding web applications. It has been a popular choice among developers for over two decades, with millions of Java applications in use today. Java is a multi-platform, object-oriented, and network-centric language that can be used as a platform in itself.</p>
              </div>
            </div>
          </div> <!-- End Course Item-->
         

        
          
          
        
         
       

    </div>
</div>
    
        
    
  
      </section><!-- /Courses Section -->
    
{% endblock content %}
    
