{% extends 'base.html'%}


{% block title %}
    Teks-Gallery
{% endblock title %}


{% block content %}
     <div class="conatiner">

        <div data-aos="fade-up-right">
            <h2 class=" text-center bg-light p-3 m-3">Your Gallery</h2>
        </div> 
     
        <div class="row justify-content-center">
            <div class="card border-0 col-12 col-md-3 m-3"  data-aos="fade-up">
                <img src="https://teksacademy.com/assets/img/courses/gimg7.png" class="card-img-top p-2" alt="..." width="510" height="400">
    
            </div>
            <div class="card border-0 col-12 col-md-3 m-3 rounded"  data-aos="fade-down">
                <img src="https://teksacademy.com/assets/img/courses/gimg16.png" class="card-img-top p-2" alt="..." width="510" height="400">
    
            </div>
            <div class="col-12 col-md-3 m-3 rounded"  data-aos="fade-up">
                <img src="https://teksacademy.com/assets/img/courses/gimg32.png" class="card-img-top p-2" alt="..." width="510" height="400">
    
            </div>

            <div class="card border-0 col-12 col-md-3 m-3"  data-aos="fade-down">
                <img src="https://teksacademy.com/assets/img/courses/gimg17.png" class="card-img-top p-2" alt="..." width="510" height="400">
    
            </div>
            <div class="card border-0 col-12 col-md-3 m-3 rounded"  data-aos="fade-up">
                <img src="https://teksacademy.com/assets/img/courses/gimg7.png" class="card-img-top p-2" alt="..." width="510" height="400">
    
            </div>
            <div class="card border-0 col-12 col-md-3 m-3 rounded"  data-aos="fade-down">
                <img src="	https://teksacademy.com/assets/img/courses/gimg14.png" class="card-img-top p-2" alt="..." width="510" height="400">
    
            </div>
           
        </div>
     </div>
{% endblock content %}
    
    